@import url('stands.css');

.parent {
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, var(--firstColor), var(--secondColor), var(--thirdColor));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.parent .container {
    width: 75%;
    height: 60%;
    background-color: transparent;
    display: flex;
    position: relative;
    box-shadow: 0px 0px 5px #000;
    border-radius: 10px;
}

.parent .container .first-player,
.parent .container .second-player {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.parent .container .first-player {
    background-color: var(--activePlayerColor);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.parent .container .second-player {
    background-color: var(--playerColor);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.parent .container .first-player .header,
.parent .container .first-player .body,
.parent .container .second-player .header,
.parent .container .second-player .body {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 3px;
    word-spacing: 4px;
}

.parent .container .first-player .body,
.parent .container .second-player .body {
    background-color: rgb(3, 82, 82);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #000;
}

.parent .container .first-player .header .score-1,
.parent .container .second-player .header .score-2 {
    font-size: 40px;
}

.parent .container .settings {
    background-color: transparent;
    width: 20%;
    height: inherit;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 20%;
    left: 40%;
}

.parent .container .settings .header,
.parent .container .settings .body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parent .container .settings .header img {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px #eee;
}

.parent .container .settings .header .new-game,
.parent .container .settings .body .roll-dice,
.parent .container .settings .body .hold {
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: 25px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
    transition-property: background-color;
    width: fit-content;
}

.parent .container .settings .header .new-game:hover,
.parent .container .settings .body .roll-dice:hover,
.parent .container .settings .body .hold:hover {
    background-color: #fff;
}

.parent .container .settings .header .new-game p,
.parent .container .settings .body .roll-dice p,
.parent .container .settings .body .hold p {
    margin-left: 8px;
}

.is-win-1,
.is-win-2 {
    font-size: 12px;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Apply the animation to the span element */
.is-win-1,
.is-win-2 {
    animation: fadeInOut 4s ease-in-out infinite;
}

/* Style the span element */
.is-win-1,
.is-win-2 {
    display: inline-block;
    /* font-size: 36px; */
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}