/* Reset Elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* Variables */
:root {
    --firstColor: rgb(32, 187, 187);
    --secondColor: rgb(97, 226, 226);
    --thirdColor: rgb(208, 238, 238);
    --activePlayerColor: rgb(10, 104, 104);
    --playerColor: rgb(8, 133, 133);
}